<div ng-controller="studentReportCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <input type="text" id="startDateStudent" ng-model="startDate" class="em-datepicker datepicker" placeholder="Start Date">
            </div>
            <div class="col-md-1 calenderclass">
                <span class="fa fa-calendar cursor-pointer" ng-click="openStartCalender()"></span>
            </div>
            <div class="col-md-2">
                <input type="text" id="endDateStudent" ng-model="endDate" class="em-datepicker datepicker" placeholder="End Date">
            </div>
            <div class="col-md-1 calenderclass">
                <span class="fa fa-calendar cursor-pointer" ng-click="openEndCalender()"></span>
            </div>
            <div class="col-md-2">
                    <button class="btn btn-md btn-default" ng-click="getReport()">Get Report</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group" ng-show="reportData" style="display: flex;padding-left:10px;padding-top:20px;">
                <li class="list-group-item"><span class="presentlabel">class="mainlabel">Present for</span>{{reportData["1"].length || "0"}} Days</li>
                <li class="list-group-item"><span class="absentlabel">>Absent for</span> {{reportData["0"].length || "0"}} Days</li>
                <li class="list-group-item"><span class="leavelabel">>On leave for </span>{{reportData["2"].length || "0"}} Days</li>
                <li class="list-group-item"><span class="holidaylabel">Holiday for </span>{{reportData["3"].length || "0"}} Days</li>
            </ul>
            <ul style="padding-left:10px;">
                <li ng-repeat="(attendanceVal,data) in reportData">

                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Subject</th>
                                <th>Period Start time</th>
                                <th>Attendance Value</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reportObj in data track by $index">
                                <td>{{resolveTimestamp(reportObj.timestamp)}}</td>
                                <td>{{reportObj.subject}}</td>
                                <td>{{reportObj.startTime}}</td>
                                <td>{{resolveAttendanceValue(attendanceVal)}}</td>
                                <td>{{reportObj.comment || "--"}}</td>
                            </tr>
                        </tbody>

                    </table>
                </li>
            </ul>

        </div>
    </div>
</div>