<div ng-controller="teacherReportCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 classselector">
                <div class="input-group">

                    <input type="text" id="startDateTeacher" ng-model="startDate" class="form-control em-datepicker datepicker" placeholder="Start Date">
                    <span class="input-group-addon cursor-pointer" ng-click="openStartCalender()"><i class="fa fa-calendar"></i></span>
                </div>

            </div>

            <div class="col-md-2 classselector">
                <div class="input-group">
                    <input type="text" id="endDateTeacher" ng-model="endDate" class="form-control em-datepicker datepicker" placeholder="End Date">
                    <span class="input-group-addon cursor-pointer" ng-click="openEndCalender()"><i class="fa fa-calendar"></i></span>
                </div>
            </div>

            <div class="col-md-3 classselector">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span ng-show="selectedClass">{{selectedClass.name}}/{{selectedClass.section}}</span>
                        <span ng-show="!selectedClass" class="grey">Class</span>

                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="class in classList" ><a ng-click="selectClass(class)">{{class.name}}/{{class.section}}</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span ng-show="selectedsubject">{{selectedsubject.value}}</span>
                        <span ng-show="!selectedsubject" class="grey">Subject</span>

                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key,value) in subjectMap" ><a ng-click="selectSubject(key,value)">{{value}}</a></li>
                    </ul>
                </div>


            </div>
            <div class="col-md-2 classselector ">
                <div class="btn-group" ng-show="studentList">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span ng-show="selectedStudent">{{selectedStudent.name}}</span>
                        <span ng-show="!selectedStudent" class="grey">Student</span>

                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="student in studentList" ><a ng-click="selectStudent(student)">{{student.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 classselector ">
                <div class="btn-group pull-right">
                    <button class="btn btn-md btn-primary" ng-click="getReport()">Get Report</button>
                </div>
            </div>




        </div>
    </div>
    <div class="row vertical-spacer">
    </div>
    <div class="row " ng-show="reportData">
        <div class="col-md-12">
            <div class="col-md-3 classselector pull-right" >
                <div class="input-group">

                    <input class="form-control" type="text" placeholder="Search" data-ng-model="searchText.$" />
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>

            </div>
        </div>
    </div>
    <div class="row vertical-spacer"></div>
    <div class="row">
        <div class="col-md-12">

            <table id="teacherReportData" ng-show="reportData" class="table">
                <div id="head_nav">
                    <thead class="theadclass">
                    <tr>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Period Start time</th>
                        <th>Attendance Value</th>
                        <th>Student RegID  </th>
                        <th>Student Name</th>
                        <th>Notes</th>
                    </tr>
                    </thead>
                </div>
                <tbody>
                <tr data-ng-repeat="reportObj in reportData | filter:searchText">
                    <td>{{resolveTimestamp(reportObj.timestamp)}}</td>
                    <td>{{reportObj.subject}}</td>
                    <td>{{reportObj.startTime}}</td>
                    <td>{{reportObj.attendance}}</td>
                    <td>{{reportObj.studentRegId}}</td>
                    <td>{{reportObj.studentName}}</td>
                    <td>{{reportObj.comment || "--"}}</td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>

</div>