<div ng-controller="manageUser_registerNewUser" class="row"
	weight="100%">
	<div ng-switch="getCurrentStep()" ng-animate="'wave'" class="col-sm-10">
		<div id="wrapper" class="col-sm-10">
			<!-- header>
            <p class="lead muted">Register Yourself</p>
        </header -->
			<section>
				<form id="registerUserForm" class="form-horizontal" weight="100%">
					<section class="panel panel-primary">
						<header class="panel-heading">
							<h3 class="panel-title">Create User - Basic Information</h3>
						</header>
						<div class="panel-body" ng-switch-when="one">
							<fieldset>
								<div class="col-md-12">
									<div class="row">
										<div>
											<label class="col-sm-2 control-label" for="regId">Registration
												ID</label>
											<div class="col-sm-4">
												<input type="text" id="regId"
													placeholder="Provide Registraion Number."
													class="form-control"
													title="Registraion Number is required !" required>
											</div>
										</div>
									</div>
									<br>

									<div class="row ">
										<div>
											<label for="fName" class="col-sm-2 control-label">First
												Name </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="fName"
													placeholder="Enter your first name. "
													ng-model="userClass.user.firstName">
											</div>
										</div>

									</div>
									<br>
									<div class="row ">
										<div>
											<label for="mName" class="col-sm-2 control-label">Middle
												Name </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="mName"
													placeholder="Enter your middle name. "
													ng-model="userClass.user.middleName">
											</div>
										</div>
									</div>
									<br>
									<div class="row ">
										<div>
											<label for="lName" class="col-sm-2 control-label">Last
												Name </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="lName"
													placeholder="Enter your last name. "
													ng-model="userClass.user.lastName">
											</div>
										</div>
									</div>
									<br>
									<div class="row ">
										<div>
											<label for="dob" class="col-sm-2 control-label">Date
												of Birth </label>
											<div class="col-sm-4">
												<input type="text" id="dob" class="em-datepicker datepicker"
													placeholder="Enter Date of Birth"
													ng-model="userClass.user.DOB">
											</div>
										</div>
										<div>
											<label class="col-sm-2 control-label">Are you </label>
											<div class="col-sm-4">
												<label for="button-radio-1" class="col-sm-8 control-label">
													<input type="radio" name="button-radio" id="button-radio-1"
													value="1" checked> Male <input type="radio"
													name="button-radio" id="button-radio-2" value="2">
													Female
												</label>
											</div>
										</div>
									</div>
									<br>
									<div class="row">

										<script>
											function readURL(input) {
												if (input.files
														&& input.files[0]) {
													var reader = new FileReader();
													reader.onload = function(e) {
														$('#blah')
																.attr(
																		'src',
																		e.target.result);
													}
													reader
															.readAsDataURL(input.files[0]);
												}
											}
											$("#imgInp").change(function() {
												readURL(this);
											});
										</script>
										<label class="col-sm-2 control-label" for="imgInp">Upload
											Image</label>
										<div class="col-sm-4">
											<input class="control-label" type='file' id="imgInp" /> <img
												id="blah" src="#" alt="your image">

										</div>
									</div>
									<br>
									<div class="row">
										<div>
											<label class="col-sm-2 control-label" for="motherTng">Mother
												Tongue </label>
											<div class="col-sm-4">
												<input type="text" id="motherTng"
													placeholder="What is your Mother Tongue"
													class="form-control"
													ng-model="userClass.user.languages_motherTongue">
											</div>
										</div>
										<div>
											<label class="col-sm-2 control-label" for="othrLang">Other
												Language </label>
											<div class="col-sm-4">
												<input type="text" id="othrLang"
													placeholder="Which other language ?" class="form-control"
													ng-model="userClass.user.languages_others">
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div>
											<label class="col-sm-2 control-label" for="religion">Religion</label>
											<div class="col-sm-4">
												<input type="text" id="religion"
													placeholder="Please mention your Religion"
													class="form-control" ng-model="userClass.user.religionId">
											</div>
										</div>
										<div>
											<label class="col-sm-2 control-label" for="caste">Caste</label>
											<div class="col-sm-4">
												<input type="text" id="caste"
													placeholder="Please mention Your Catse"
													class="form-control" ng-model="userClass.user.casteId">
											</div>
										</div>
									</div>
									<br>
								</div>
							</fieldset>
						</div>
					</section>
					<section class="panel panel-primary">
						<header class="panel-heading">
							<h3 class="panel-title">Create User - Primary Contact
								Information</h3>
						</header>
						<div ng-switch-when="two" class="panel-body">
							<fieldset>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="primaryPhone">Phone
											Number</label>
										<div class="col-sm-4">
											<input type="text" id="primaryPhone"
												placeholder="Phone Number" class="form-control"
												ng-model="userClass.contact.phonePrimary">
										</div>
									</div>

									<div>
										<label class="col-sm-2 control-label" for="inputEmail">Email
											Address</label>
										<div class="col-sm-4">
											<input type="email" id="inputEmail"
												placeholder="Enter Your Email Address." class="form-control"
												title="Email id is required !" required
												ng-model="userClass.contact.emailPrimary" />
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntStreetAdrOne">Street
											Address 1</label>
										<div class="col-sm-8">
											<input type="text" id="cntStreetAdrOne"
												placeholder="Enter Street Address" class="form-control"
												ng-model="userClass.primaryAddress.street1">
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntStreetAdrOne">Street
											Address 2</label>
										<div class="col-sm-8">
											<input type="text" id="cntStreetAdrOne"
												placeholder="Enter Street Address" class="form-control"
												ng-model="userClass.primaryAddress.street2">
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntStreetAdrTwo">Landmark</label>
										<div class="col-sm-8">
											<input type="text" id="cntStreetAdrTwo"
												placeholder="Provide Landmark" class="form-control">
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntCntry">Country</label>
										<div class="col-sm-4">
											<input type="text" id="cntCntry" placeholder="Country"
												class="form-control"
												ng-model="userClass.primaryAddress.country">
										</div>
									</div>

									<div>
										<label class="col-sm-2 control-label" for="cntState">State</label>
										<div class="col-sm-4">
											<input type="text" id="cntState" placeholder="State"
												class="form-control"
												ng-model="userClass.primaryAddress.state">
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntCity">City</label>
										<div class="col-sm-4">
											<input type="text" id="cntCity" placeholder="City"
												class="form-control"
												ng-model="userClass.primaryAddress.city">
										</div>
									</div>
									<div>
										<label class="col-sm-2 control-label" for="cntDistct">District</label>
										<div class="col-sm-4">
											<input type="text" id="cntDistct" placeholder="District"
												class="form-control"
												ng-model="userClass.primaryAddress.district">
										</div>
									</div>
								</div>
								<br>

								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntPin">Pincode</label>
										<div class="col-sm-4">
											<input type="text" id="cntPin" placeholder="Pincode"
												class="form-control"
												ng-model="userClass.primaryAddress.pincode">
										</div>
									</div>
								</div>
								<br>
							</fieldset>
						</div>
					</section>
					<section class="panel panel-primary">
						<header class="panel-heading">
							<h3 class="panel-title">Create User - Secondary Contact
								Information</h3>
						</header>
						<div ng-switch-when="three" class="panel-body">
							<fieldset>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="primaryPhone">Phone
											Number</label>
										<div class="col-sm-4">
											<input type="text" id="primaryPhone"
												placeholder="Phone Number" class="form-control"
												ng-model="userClass.contact.phoneSecondary">
										</div>
									</div>

									<div>
										<label class="col-sm-2 control-label" for="inputEmail">Email
											Address</label>
										<div class="col-sm-4">
											<input type="email" id="inputEmail"
												placeholder="Enter Your Email Address." class="form-control"
												title="Email id is required !"
												ng-model="userClass.contact.emailSecondary" />
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntStreetAdrOne">Street
											Address 1</label>
										<div class="col-sm-8">
											<input type="text" id="cntStreetAdrOne"
												placeholder="Enter Street Address" class="form-control"
												ng-model="userClass.SecondaryAddress.street1">
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntStreetAdrOne">Street
											Address 2</label>
										<div class="col-sm-8">
											<input type="text" id="cntStreetAdrOne"
												placeholder="Enter Street Address" class="form-control"
												ng-model="userClass.SecondaryAddress.street2">
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntStreetAdrTwo">Landmark</label>
										<div class="col-sm-8">
											<input type="text" id="cntStreetAdrTwo"
												placeholder="Provide Landmark" class="form-control">
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntCntry">Country</label>
										<div class="col-sm-4">
											<input type="text" id="cntCntry" placeholder="Country"
												class="form-control"
												ng-model="userClass.SecondaryAddress.country">
										</div>
									</div>

									<div>
										<label class="col-sm-2 control-label" for="cntState">State</label>
										<div class="col-sm-4">
											<input type="text" id="cntState" placeholder="State"
												class="form-control"
												ng-model="userClass.SecondaryAddress.state">
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntCity">City</label>
										<div class="col-sm-4">
											<input type="text" id="cntCity" placeholder="City"
												class="form-control"
												ng-model="userClass.SecondaryAddress.city">
										</div>
									</div>
									<div>
										<label class="col-sm-2 control-label" for="cntDistct">District</label>
										<div class="col-sm-4">
											<input type="text" id="cntDistct" placeholder="District"
												class="form-control"
												ng-model="userClass.SecondaryAddress.district">
										</div>
									</div>
								</div>
								<br>

								<div class="row">
									<div>
										<label class="col-sm-2 control-label" for="cntPin">Pincode</label>
										<div class="col-sm-4">
											<input type="text" id="cntPin" placeholder="Pincode"
												class="form-control"
												ng-model="userClass.SecondaryAddress.pincode">
										</div>
									</div>
								</div>
								<br>
							</fieldset>
						</div>
					</section>

					<section class="panel panel-primary">
						<header class="panel-heading">
							<h3 class="panel-title">Create User - Other Information</h3>
						</header>
						<div ng-switch-when="four" class="panel-body">

							<fieldset>
								<div class="col-md-12">
									<div class="row">
										<div>
											<label class="col-sm-2 control-label" for="birthPlaceCntry">Birth
												Place Country</label>
											<div class="col-sm-4">
												<input type="text" id="birthPlaceCntry"
													placeholder="Birth Place Country" class="form-control"
													ng-model="userClass.user.birthPlace_country">
											</div>
										</div>

										<div>
											<label class="col-sm-2 control-label" for="birthPlaceState">Birth
												Place State</label>
											<div class="col-sm-4">
												<input type="text" id="birthPlaceState"
													placeholder="Birth Place State" class="form-control"
													ng-model="userClass.user.birthPlace_state">
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div>
											<label class="col-sm-2 control-label" for="birthPlaceCity">Birth
												Place City</label>
											<div class="col-sm-4">
												<input type="text" id="birthPlaceCity"
													placeholder="Birth Place City" class="form-control"
													ng-model="userClass.user.birthPlace_city">
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div>
											<script>
												$('#isVisa')
														.change(
																function() {
																	$(
																			"#visaTextSrc")
																			.prop(
																					"disabled",
																					!$(
																							this)
																							.is(
																									':checked'));
																});
											</script>
											<label class="col-sm-2 control-label" for="isVisa">VISA
												Number</label>
											<div class="col-sm-4">
												<label class="checkbox">Do you have VISA ? <input
													type="checkbox" id="isVisa" name="isVisa">
												</label> <input id="visaTextSrc" name="visaTextSrc"
													class="form-control " disabled="" type="text"
													placeholder="Enter your VISA Number">
											</div>
										</div>
										<div>
											<script>
												$('#isPassPort')
														.change(
																function() {
																	$(
																			"#passportTextSrc")
																			.prop(
																					"disabled",
																					!$(
																							this)
																							.is(
																									':checked'));
																});
											</script>
											<label class="col-sm-2 control-label" for="isPassPort">Passport
												Number</label>
											<div class="col-sm-4">
												<label class="checkbox">Do you have Passport ? <input
													type="checkbox" id="isPassPort" name="isPassPort">
												</label> <input id="passportTextSrc" name="passportTextSrc"
													class="form-control" disabled="" type="text"
													placeholder="Enter your Passport Number">
											</div>
										</div>
									</div>
									<div class="row">
										<div>
											<script>
												$('#isPan')
														.change(
																function() {
																	$(
																			"#panTextSrc")
																			.prop(
																					"disabled",
																					!$(
																							this)
																							.is(
																									':checked'));
																});
											</script>
											<label class="col-sm-2" for="smsEnb">PAN Number</label>
											<div class="col-sm-4">
												<label class="checkbox">Do you have PAN Number ? <input
													type="checkbox" id="isPan" name="isPan">
												</label> <input id="panTextSrc" name="panTextSrc"
													class="form-control" disabled="" type="text"
													placeholder="Enter your PAN Number">
											</div>
										</div>
										<div>
											<label class="col-sm-2 control-label" for="isResvrdCat">Reserved
												Category</label>
											<div class="col-sm-4">
												<label class="checkbox">Reserved Category? <input
													type="checkbox" id="isResvrdCat" name="isResvrdCat"
													ng-model="resrvrdCatTextSrc">
												</label> <input id="resrvrdCatTextSrc" name="resrvrdCatTextSrc"
													class="form-control" ng-disabled="!resrvrdCatTextSrc"
													ng-checked="!!otherResvrdCat && !resrvrdCatTextSrc"
													ng-model="otherResvrdCat" type="text"
													placeholder="Please mention Category">
											</div>

										</div>

									</div>
									<br>
									<div class="row">
										<div>
											<label class="col-sm-2 control-label"
												for="isPhysicallyHandicapped">Physically Challenged</label>
											<div class="col-sm-3">
												<input type="checkbox" id="isPhysicallyHandicapped"
													ng-model="userClass.user.isPhysicallyHandicapped" style="margin-top:20px;">
											</div>
										</div>
										<div>
											<label class="col-sm-2 control-label"
												for="isEconomicallyBackward">Economically Challenged</label>
											<div class="col-sm-3">
												<input type="checkbox" id="isEconomicallyBackward"
													ng-model="userClass.user.isEconomicallyBackward" style="margin-top:20px;">
											</div>
										</div>
									</div>


									<br>
									<div class="row">
										<div>
											<label class="col-sm-2 control-label" for="smsEnb">Enable
												SMS Alerts </label>
											<div class="col-sm-3">
												<input type="checkbox" id="smsEnb"
													ng-model="userClass.user.isSMSEnabled" style="margin-top:20px;">
											</div>
										</div>
										<div>
											<label class="col-sm-2 control-label" for="mailEnb">Enable
												Email Alerts </label>
											<div class="col-sm-3">
												<input type="checkbox" id="mailEnb"
													ng-model="userClass.user.isEmailEnabled" style="margin-top:20px;">
											</div>
										</div>
									</div>
							</fieldset>
						</div>
					</section>
					<!-- Create Account - Start -->
					<section class="panel panel-primary">
						<header class="panel-heading">
							<h3 class="panel-title">Create User - Account Information</h3>
						</header>
						<div ng-switch-when="five" class="panel-body">
							<fieldset>
								<div class="form-group">
									<script>
										$("select[name=validation-select]")
												.change(
														function() {
															if (this.value == "2")
																$(
																		"input[name=parentsPhone]")
																		.prop(
																				"disabled",
																				false);
															else
																$(
																		"input[name=parentsPhone]")
																		.prop(
																				"disabled",
																				true);
														}).change();
									</script>
									<label for="validation-select" class="col-sm-4 control-label">Account
										Type</label>
									<div class="col-sm-8">
										<select id="validation-select" name="validation-select"
											class="btn btn-media dropdown-toggle">
											<option value="">Select Account Type !</option>
											<option value="1">Teacher</option>
											<option value="2">Student</option>
											<option value="3">Parent</option>
											<option value="4">Staff</option>
											<option value="5">Other</option>
										</select>
									</div>
								</div>
								<!--  
								<div class="form-group">
									<label class="col-sm-4 control-label" for="parentsPhone">Parent's
										Phone Number</label>
									<div class="col-sm-8">
										<input type="text" id="parentsPhone" name="parentsPhone"
											placeholder="What's your Parent's Phone Number."
											class="form-control" title="Phone Number is required !"
											required>
									</div>
								</div>
 -->
								<div class="form-group">
									<label class="col-sm-4 control-label" for="inputUsername">Username</label>
									<div class="col-sm-8">
										<input type="text" id="inputUsername"
											placeholder="What's your user name" class="form-control"
											title="User Name is required !" required
											ng-model="userClass.user.userName" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label" for="inputPassword">Password</label>
									<div class="col-sm-8">
										<input type="password" id="inputPassword" name="inputPassword"
											placeholder="Password - keep it secret." class="form-control"
											title="Password is required !" required
											ng-model="userClass.user.hashPassword"
											data-ng-class="{'ng-invalid':registerUserForm.confirmPassword.$error.match}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label" for="confirmPassword">Re
										- Enter Password</label>
									<div class="col-sm-8">
										<input type="password" id="confirmPassword"
											name="confirmPassword" placeholder="Re - enter your password"
											class="form-control" title="Password is required !" required
											ng-model="userClass.user.hashPasswordConfirm"
											data-match="userClass.user.hashPassword" />
									</div>
									<div
										data-ng-show="registerUserForm.confirmPassword.$error.match">Passwords
										do not match!</div>
								</div>

							</fieldset>

							<!-- div class="row">
                            <div>
                                <label class="col-sm-3 control-label" for="mailPublic">Display Your Email Address Public ?</label>
                                <div class="col-sm-3">
                                    <input type="checkbox" id="mailPublic">
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-3 control-label" for="mailPublicDup">Display Your Email Address Public ?</label>
                                <div class="col-sm-3">
                                    <input type="checkbox" id="mailPublicDup">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div>
                                <label class="col-sm-3 control-label" for="religion">Religion</label>
                                <div class="col-sm-3">
                                    <input type="checkbox" id="religion" >
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-3 control-label" for="caste">Caste</label>
                                <div class="col-sm-3">
                                    <input type="checkbox" id="caste" >
                                </div>
                            </div>
                        </div -->

						</div>
					</section>
					<div class="col-sm-12">
						<button class="btn btn-primary" ng-click="prev()">Prev</button>

						<button class="btn btn-primary pull-right" ng-click="next()">Next</button>
					</div>

				</form>
			</section>
		</div>

	</div>
	<button class="btn btn-primary pull-right" ng-click="registerNewUser()">Submit</button>
</div>



<!-- div class="btn-group">
			<button class="btn" ng-class="{'btn-primary':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Uno</button>
			<button class="btn" ng-class="{'btn-primary':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Dos</button>
			<button class="btn" ng-class="{'btn-primary':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Tres</button>
		</div -->
