
.login {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    width: 450px;
    background: #e1e3e6;
    border-radius: 1px;
    border: 1px solid #d1d5e0;
}
.btn-lg {
    padding: 10px 40px 10px 40px;
    color:#c5cfe6;
    font-size: 18px;
}
.logincontainer a, .logincontainer a:hover, a:focus{
    color:#1e7dd6;
    font-size: 12px;
    text-decoration: underline;
}
.form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.checkbox label {
    display: inline;
    margin-bottom: -1%;
    font-weight: normal;
    cursor: pointer;
    font-size: 14px;
}
.form-horizontal .control-label{
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: #000 0px 0px 0px;
}