<div class="row" ng-controller="dashboard">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <a href="/index">
                    <i class="fa fa-users dashboard-icons" ></i>
                    Attendence</a>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <i class="fa fa-users dashboard-icons"></i>
                        User
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <i class="fa fa-building-o dashboard-icons"></i>
                        Organization
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <i class="fa fa-tasks dashboard-icons"></i>
                        Task
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
