<div class="row" ng-controller="dashboard">

    <div class="col-md-12">
        <div class="row">
            <ul class="dashlist">
                <li>
                    <a href="#">
                        <h2>Title #1</h2>
                        <p>Text Content #1</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h2>Title #2</h2>
                        <p>Text Content #2</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <!--<div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <i class="fa fa-calendar" style="font-size:80px;"></i>
                        </div>
                        <div class="face back">
                            <a href="/login">Attendence</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <i class="fa fa-users" style="font-size:80px;"></i>
                        </div>
                        <div class="face back">User</div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <i class="fa fa-building-o" style="font-size:80px;"></i>
                        </div>
                        <div class="face back">Organization</div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <i class="fa fa-tasks" style="font-size:80px;"></i>
                        </div>
                        <div class="face back">Task</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <i class="fa fa-calendar" style="font-size:80px;"></i>
                        </div>
                        <div class="face back">
                            <a href="/login">Attendence</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <i class="fa fa-users" style="font-size:80px;"></i>
                        </div>
                        <div class="face back">User</div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <i class="fa fa-building-o" style="font-size:80px;"></i>
                        </div>
                        <div class="face back">Organization</div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <i class="fa fa-tasks" style="font-size:80px;"></i>
                        </div>
                        <div class="face back">Task</div>
                    </div>
                </div>

            </div>
        </div>
    </div>-->

</div>
