<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="SideNavBarCtrl" >
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" style="line-height:1.7;">
                                    <i class="{{iconClassMapping.search}}"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li ng-repeat="menuItem in menu" ng-click="toggleMenu(menuItem.collapse)" >
                <a ui-sref="{{menuItem.state}}" ng-class="{active: $state.includes(menuItem.state)}"><i class="{{iconClassMapping[menuItem.icon]}}"></i> {{menuItem.name}}</a>
                <!-- /.nav-second-level -->
                <ul class="nav nav-second-level" ng-if="menuItem.childLinks" >
                    <li ng-repeat="childMenuItem in menuItem.childLinks" ng-hide="menuItem.collapse">
                        <a ui-sref="{{childMenuItem.state}}" ><i class="{{iconClassMapping[childMenuItem.icon]}}"></i> {{childMenuItem.name}}</span></a>
                    </li>

                </ul>

            </li>

        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->