<div id="addBookToLib" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">
			<i class="fa fa-times"></i>
		</button>
		<h4>Add Book</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<!-- ng-if="allUserClass.data" ng-show="currentUserDetails" -->
			<div class="col-md-12">
				<ul class="nav nav-pills nav-justified thumbnail setup-panel"
					id="myTab">
					<li class="active"><a href="#basicInfo" data-toggle="tab">Book Details</a></li>
					<li ng-repeat="workspace in workspaces" active=workspace.active><a
						href="#bookCopyInfo" {{workspace.id}} data-toggle="tab">{{workspace.name}}
							: {{workspace.id}}</a></li>
					<li>
						<button class="btn btn-primary pull-right"
							ng-click="addChildTab()">
							<i class="fa fa-plus"></i>
						</button>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="basicInfo">
						<form class="form-horizontal" role="form">
							<fieldset>
								<div
									ng-include="'partials/modules/mangeLibrary/parentBookPartial.html'"></div>
							</fieldset>
						</form>
					</div>
					<div class="tab-pane" id="bookCopyInfo"{{workspace.id}}>
						<form class="form-horizontal" role="form" >
							<fieldset>
								<div
									ng-include="'partials/modules/mangeLibrary/ChildBookPartial.html'"></div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary pull-left" data-dismiss="modal"
			aria-hidden="true">
			<i class="fa fa-arrow-circle-left"> Back</i>
		</button>

		<button class="btn btn-primary pull-right">
			<i class="fa fa-edit"> Add</i>
		</button>
	</div>
</div>