<!-- View Book Image Modal - Start -->
	<div class="modal fade" id="bookCoverModal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="col-lg-12 modal-body">
					<img src="{{imageModalDetails.path}}" alt="Image not avaiable">
				</div>
			</div>
		</div>
	</div>
	<!-- View Book Image Modal - End -->
