<div id="addChildToLib" class="panel-body">
	<fieldset>
		<div class="row ">
			<div>
				<label class="col-sm-2 control-label" for="barCode">Book Id</label>
				<div class="col-sm-4">
					<input type="text" id="bookId" name="bookId"
						placeholder="Please Enter Book Id" class="form-control"
						ng-model="childBook.bookId">
				</div>
			</div>
			<div>
				<label class="col-sm-2 control-label" for="accessList">Access
					Type</label>
				<div class="col-sm-4">
					<select id="accessList" name="validation-select"
						class="btn btn-media dropdown-toggle">
						<option value="">Who Can Access</option>
						<option value="A">All</option>
						<option value="T">Teachers</option>
						<option value="S">Students</option>
					</select>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div>
				<label class="col-sm-2 control-label" for="barCode">Bar Code</label>
				<div class="col-sm-4">
					<input type="text" id="barCode" name="barCode"
						placeholder="Please Enter Bar Code " class="form-control"
						ng-model="childBook.barCode">
				</div>
			</div>
			<div>
				<label class="col-sm-2 control-label" for="acqMode">Acquisition
					Mode </label>
				<div class="col-sm-4">
					<select id="acqMode" name="validation-select"
						class="btn btn-media dropdown-toggle"
						data-ng-model="childBook.acqMode">
						<option value="">Select Acquisition</option>
						<option value="E">Exchange</option>
						<option value="G">Gratis/Gift</option>
						<option value="P">Purchased</option>
						<option value="S">Subscribed</option>
					</select>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div>
				<label class="col-sm-2 control-label" for="pricePaid">Price
					Paid </label>
				<div class="col-sm-4">
					<input type="text" id="pricePaid"
						placeholder="Please enter paid price" class="form-control"
						ng-model="childBook.pricePaid">
				</div>
			</div>
			<div>
				<label class="col-sm-2 control-label" for="bookSts">Book
					Status </label>
				<div class="col-sm-4">
					<select id="bookSts" name="validation-select"
						class="btn btn-media dropdown-toggle"
						data-ng-model="childBook.bookStatus">
						<option value="">Select Book Status</option>
						<option value="A">Available</option>
						<option value="B">Bindery</option>
						<option value="D">Damaged</option>
						<option value="S">Display</option>
					</select>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div>
				<label class="col-sm-2 control-label" for="outletName">Outlet
					Name</label>
				<div class="col-sm-10">
					<input type="text" id="outletName"
						placeholder="Please enter the Outlet Name" class="form-control"
						ng-model="childBook.outletName" />
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div>
				<label class="col-sm-2 control-label" for="desc">Description</label>
				<div class="col-sm-10">
					<input type="text" id="desc"
						placeholder="Please enter book's description here "
						class="form-control" ng-model="childBook.description">
				</div>
			</div>
		</div>
		<br>
		<div class="row ">
			<div>
				<label class="col-sm-2 control-label" for="loc">Location</label>
				<div class="col-sm-3">
					<input type="text" id="loc"
						placeholder="What is the book's location ?" class="form-control"
						ng-model="childBook.location">
				</div>
			</div>
			<div>
				<label class="col-sm-2 control-label" for="matAcp">Material
					Accompanied</label>
				<div class="col-sm-5">
					<input type="text" id="matAcp"
						placeholder="Material Accompanied i.e. CD, MAP etc ? Please enter"
						class="form-control"
						ng-model="childBook.materialAccompanied">
				</div>
			</div>
		</div>
		<br>
		<div class="row ">
			<div>
				<label class="col-sm-2 control-label" for="tag">Tag Type</label>
				<div class="col-sm-4">
					<input type="tag" id="tag" placeholder="What's the Tag ?"
						class="form-control" ng-model="childBook.tag">
				</div>
			</div>
			<div>
				<label class="col-sm-2 control-label">Ready For Distribution</label>
				<div class="col-sm-4">
					<label for="button-radio-1" class="col-sm-8 control-label">
						<input type="radio" name="button-radio" id="button-radio-1"
						value="1" checked> Yes <input type="radio"
						name="button-radio" id="button-radio-2" value="2"> No
					</label>
				</div>
			</div>
		</div>
		<br> <br>
	</fieldset>
</div>
