<div class="panel-body">
	<fieldset>
		<div class="col-md-12">
			<div class="row">
				<div>
					<label class="col-sm-2 control-label" for="isbnNum">ISBN <span style="color: red">&nbsp;*</span></label>
					<div class="col-sm-4">
						<input type="text" id="isbnNum"
							placeholder="Please enter ISBN Number" class="form-control" ng-blur="onISBNBlur()"
							ng-model="parentBook.isbn" title="ISBN is required !" required>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div>
					<label class="col-sm-2 control-label" for="bookTitle">Title<span style="color: red">&nbsp;*</span></label>
					<div class="col-sm-10">
						<input type="text" id="bookTitle"
							placeholder="Please enter book title here " class="form-control"
							ng-model="parentBook.bookTitle" title="Title is required !"
							required>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div>
					<label class="col-sm-2 control-label" for="subTitle">Sub
						Title</label>
					<div class="col-sm-10">
						<input type="text" id="subTitle"
							placeholder="Please enter book's sub title here "
							class="form-control" ng-model="parentBook.bookSubTitle">
					</div>
				</div>
			</div>
			<br>
			<div class="row ">
				<div>
					<label class="col-sm-2 control-label" for="bookAuthor">Author <span style="color: red">&nbsp;*</span></label>
					<div class="col-sm-10">
						<input type="text" id="bookAuthor"
							placeholder="Please Enter author Name " class="form-control"
							ng-model="parentBook.authorName" title="Author is required !"
							required>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div>
					<label class="col-sm-2 control-label" for="editionNum">Edition</label>
					<div class="col-sm-2">
						<input type="text" id="editionNum" placeholder="Edition Number"
							class="form-control" ng-model="parentBook.edition">
					</div>
				</div>
				<div>
					<label class="col-sm-2 control-label" for="bookCount">Number
						Of Copies</label>
					<div class="col-sm-1">
						<input type="number" id="bookCount" placeholder="Number Of Copies " min="0" max="1"
							class="form-control" ng-model="parentBook.bookCopies">
					</div>
				</div>
				<!-- 
            <div>
                <label class="col-sm-2 control-label" for="bindType">Binding Type </label>
                <div class="col-sm-3">
                    <select id="bindType" name="validation-select" class="btn btn-media dropdown-toggle" data-ng-model="parentBook.bindingType">
                        <option value="">Select Binding Type !</option>
                        <option value="HL">Half Leather</option>
                        <option value="FL">Full Leather</option>
                        <option value="HB">Hard Bound</option>
                    </select>
                </div>
            </div>
             -->
				<!-- div>
                <label class="col-sm-2 control-label" for="bindType">Binding Type </label>
                <div class="col-sm-4   ">
                    <input type="text" id="bindType" placeholder="Need to add drop down" class="form-control" ng-model="parentBook.bindingType"
                           title="Binding Type is required !" required>
                </div>
            </div -->
			</div>
			<br>
			<div class="row ">
				<div>
					<label class="col-sm-2 control-label" for="bookPublisher">Publisher <span style="color: red">&nbsp;*</span></label>
					<div class="col-sm-10">
						<input type="text" id="bookPublisher"
							placeholder="Please Enter Publisher Name " class="form-control"
							ng-model="parentBook.publisher" title="Publisher is required !"
							required>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div>
					<label class="col-sm-2 control-label" for="catName">Category
						Name</label>
					<div class="col-sm-4">
						<input type="text" id="catName"
							placeholder="Need to add drop down" class="form-control"
							ng-model="parentBook.categoryName"
							title="Category Name is required !" required />
					</div>
				</div>
				<div>
					<label class="col-sm-2 control-label" for="lang">Language<span style="color: red">&nbsp;*</span></label>
					<div class="col-sm-4">
						<select id="lang" name="lang"
							class="btn btn-media dropdown-toggle"
							data-ng-model="parentBook.language">
							<option value="">Select Language</option>
							<option ng-repeat="(key, value) in languages" value="{{key}}">{{value.___name___}}</option>
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div>
					<label class="col-sm-2 control-label" for="bibLvl">Bib
						Level</label>
					<div class="col-sm-2">
						<select id="bibLvl" name="" bibLvl="" class="btn btn-media dropdown-toggle" data-ng-model="parentBook.bibLevel">
							<option value="">Select Bib Level</option>
							<option ng-repeat="(key, value) in parentBookDD" value="{{key}}">{{value.___name___}}</option>
						</select>
					</div>
				</div>
				<div>
					<label class="col-sm-2 control-label" for="mat" ng-if="parentBook.bibLevel">Materials </label>
					<div class="col-sm-2">
						<select id="mat" name="validation-select"
							class="btn btn-media dropdown-toggle"
							data-ng-model="parentBook.material" ng-if="parentBook.bibLevel">
							<option value="">Select Materials</option>
							<option
								ng-repeat="(key, material) in parentBookDD[parentBook.bibLevel]"
								ng-if="key!='___name___'" value="{{key}}">{{material.___name___}}</option>
						</select>
					</div>
				</div>
				<div>
					<label class="col-sm-2 control-label" for="docType" ng-if="parentBook.bibLevel">Doc
						Type </label>
					<div class="col-sm-2">
						<select id="docType" name="validation-select"
							class="btn btn-media dropdown-toggle"
							data-ng-model="parentBook.docType" ng-if="parentBook.material">
							<option value="">Select Doc Type</option>
							<option
								ng-repeat="(key,docType) in parentBookDD[parentBook.bibLevel][parentBook.material]"
								value="{{key}}">{{docType.___name___}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</div>
<!-- label data-ng-model="parentBook">{{parentBook.isbn}} </label -->
<br>
<!-- legend></legend -->

<!--   Add New Book - Child Information -- Start -->
<!-- section class="panel panel-primary">
    <header class="panel-heading">
        <h3 class="panel-title">Add New Book - Other Information</h3>
    </header>
    <div class="panel-body">
        <fieldset>
    <div class="col-md-12">
    <div class="row">
        <div>
            <label class="col-sm-3 control-label" for="publicationDate">Publication Date</label>
            <div class="col-md-2 classselector">
                <div class="input-group">
                    <input type="text" id="publicationDate" ng-model="publicationDate" class="em-datepicker datepicker" placeholder="Publication Date">
                    <span class="input-group-addon cursor-pointer" ng-click="openPublicationDate()"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div>

        </div>
        <div>
            <label class="col-sm-2 control-label" for="purchaseDate">Purchase Date</label>
            <div class="col-md-2 classselector">
                <div class="input-group">
                    <input type="text" id="purchaseDate" ng-model="purchaseDate" class="em-datepicker datepicker" placeholder="Purchase Date">
                    <span class="input-group-addon cursor-pointer" ng-click="openPurchaseDate()"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <br>
        <div class="row">
            <div>
                <label class="col-sm-2 control-label" for="barCode">Bar Code</label>
                <div class="col-sm-4">
                    <input type="text" id="barCode" placeholder="Please Enter Bar Code " class="form-control" ng-model="childBook.barCode">
                </div>
            </div>
            <div>
                <label class="col-sm-2 control-label" for="acqMode">Acquisition Mode </label>
                <div class="col-sm-4">
                    <select id="acqMode" name="validation-select" class="btn btn-media dropdown-toggle" data-ng-model="childBook.acqMode">
                        <option value="">Select Acquisition</option>
                        <option value="E">Exchange</option>
                        <option value="G">Gratis/Gift</option>
                        <option value="P">Purchased</option>
                        <option value="S">Subscribed</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <label class="col-sm-2 control-label" for="pricePaid">Price Paid </label>
                <div class="col-sm-4">
                    <input type="text" id="pricePaid" placeholder="Please enter paid price" class="form-control" ng-model="childBook.pricePaid">
                </div>
            </div>
            <div>
                <label class="col-sm-2 control-label" for="bookSts">Book Status </label>
                <div class="col-sm-4">
                    <select id="bookSts" name="validation-select" class="btn btn-media dropdown-toggle" data-ng-model="childBook.bookStatus">
                        <option value="">Select Book Status</option>
                        <option value="A">Available</option>
                        <option value="B">Bindery</option>
                        <option value="D">Damaged</option>
                        <option value="S">Display</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <label class="col-sm-2 control-label" for="outletName">Outlet Name</label>
                <div class="col-sm-10">
                    <input type="text" id="outletName" placeholder="Please enter the Outlet Name" class="form-control" ng-model="childBook.outletName"/>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <label class="col-sm-2 control-label" for="desc">Description</label>
                <div class="col-sm-10">
                    <input type="text" id="desc" placeholder="Please enter book's description here " class="form-control" ng-model="childBook.description">
                </div>
            </div>
        </div>
        <br>
        <div class="row ">
            <div>
                <label class="col-sm-2 control-label" for="loc">Location</label>
                <div class="col-sm-3">
                    <input type="text" id="loc" placeholder="What is the book's location ?" class="form-control" ng-model="childBook.location">
                </div>
            </div>
            <div>
                <label class="col-sm-2 control-label" for="matAcp">Material Accompanied</label>
                <div class="col-sm-5">
                    <input type="text" id="matAcp" placeholder="Material Accompanied i.e. CD, MAP etc ? Please enter" class="form-control" ng-model="childBook.materialAccompanied">
                </div>
            </div>
        </div>
        <br>
        <div class="row ">
            <div>
                <label class="col-sm-2 control-label" for="tag">Tag Type</label>
                <div class="col-sm-4">
                    <input type="tag" id="tag" placeholder="What's the Tag ?" class="form-control" ng-model="childBook.tag">
                </div>
            </div>
            <div>
                <label class="col-sm-2 control-label">Ready For Distribution</label>
                <div class="col-sm-4">
                    <label for="button-radio-1" class="col-sm-8 control-label">
                        <input type="radio" name="button-radio" id="button-radio-1" value="1" checked>
                        Yes
                        <input type="radio" name="button-radio" id="button-radio-2" value="2">
                        No
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div class="row ">
            <div>
                <label class="col-sm-2 control-label" for="accessList">Access Type</label>
                <div class="col-sm-4">
                    <select id="accessList" name="validation-select" class="btn btn-media dropdown-toggle">
                        <option value="">Who Can Access</option>
                        <option value="A">All</option>
                        <option value="T">Teachers</option>
                        <option value="S">Students</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
    </div>
</fieldset>
        <div class="col-md-2 pull-right">
            <button class="btn btn-md btn-primary" ng-click="addchildBook()">Add Child Book</button>
        </div>
    </div>
</section -->

